<p *ngIf="!fieldsData"><mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <em>Loading...</em></p>
<br />


<div class="form-group">
  <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
</div>
<table mat-table [dataSource]="fieldsData" class="mat-elevation-z8">

  <tr *ngFor="let item of displayedColumns | filter:term">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon><span class="material-icons-round" style="font-size: 4rem; color: aqua;"> account_circle </span></mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <p class="m-1">{{ element.name }}</p>
        <p class="m-1" style="color: red;">{{ element.itemCategory }}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="defaultPriceConcessionName">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        {{ element.defaultPriceConcessionName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="openDialog(element.id,element.defaultPriceConcessionID)">View Price Detail</button>
      </td>
    </ng-container>
  </tr>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
