<div class="container">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Item Search</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>notifications</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <mat-toolbar color="primary">
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" />
    </mat-form-field>
  </mat-toolbar>
  
</div>
